/* Estilos básicos */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: 
        url('imagenes/Fondo.jpg'), /* Imagen de columnas griegas */
        url('imagenes/Fondo.jpg'); /* Imagen de cielo estrellado */
    background-size: cover; /* Ajusta el tamaño de las imágenes para cubrir todo el cuerpo */
    background-position: center, top; /* Posición del fondo: columnas centradas, cielo en la parte superior */
    background-repeat: no-repeat; /* Evita la repetición de las imágenes */
    background-blend-mode: overlay; /* Mezcla el fondo con las imágenes */
}


body {
    display: flex;
    flex-direction: column;
}

h1, #product-form, .productos{
    display: flex;
    justify-content: center;
    color: #ddd;
}

h2{
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header, footer {

    color: #fff;
    padding: 10px 20px;
    height: 5%;
    display: flex;
    justify-content: center;
}

footer {
    color: #fff;
    padding: 10px 20px;
    height: 5%;
    display: flex;
    justify-content: center;
    position: fixed; /* Fija el footer en la parte inferior */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    bottom: 0; /* Coloca el footer en la parte inferior */
    z-index: 1; /* Asegura que el footer esté sobre otros elementos */
}

footer img {
    position: absolute; /* Posiciona la imagen de forma absoluta */
    top: -5px; /* Ajusta la posición vertical de la imagen */
    left: 50%; /* Centra la imagen horizontalmente */
    transform: translateX(-50%); /* Corrige la posición horizontal */
    z-index: 2; /* Asegura que la imagen esté por encima del texto */
}


header img{
    background-color: black;
}

main {
    flex: 1;
    padding: 20px;
}

/* Estilos para la sección de productos */
#productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    max-height: 50vh;
    padding: 10px;
}

/* Estilos para el card */
.card {
    height: 280px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    display: block;
}

.card img:hover{
    transition: 3s;
    scale: 1.5;
    shape-rendering: optimizeSpeed;
}

.card-container--info {
    flex: 1;
    width: 100%;
    color: #ddd;
}

.card-container--value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.eliminar-producto-btn {
    background-color: rgb(7, 7, 7);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.eliminar-producto-btn img {
    width: 20px;
    height: 20px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    header h1 {
        font-size: 24px;
    }

    #productos {
        max-height: none;
    }

    #agregar-producto {
        margin-top: 20px;
    }
}
